{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
  <h1>Login</h1>
  {% if error %}
    <p role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
  {% endif %}
  <form method="post" action="{{ path('app_login') }}" novalidate>
    <label for="email">Email</label>
    <input id="email" name="_username" type="email" required value="{{ last_username }}">
    <label for="password">Password</label>
    <input id="password" name="_password" type="password" required>
    <button type="submit">Sign in</button>
  </form>
{% endblock %}